body{
    background-color: #f5f5f5;
}

h1{
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 100px;
font-weight:100;
text-align: center;
margin-bottom: 0;
}

.colores {
    color:rgba(175, 47, 47, 0.15);
}

.container{
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

input,div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 200;
}

.letra > input, .letra span {
    font-size: 12px;
}

.linea > div{
    padding-left: 20px;
}

.letra{
    display: none;
    padding: 5px 26px 5px 26px;
}

.botones, .boton , .borrar-todo{
    border: 1px solid white;
    background-color: transparent;
    border-radius: 5px;
    outline-color: transparent;
    outline-width: 0px;
}

.botones:hover {
    border: 1px solid #ff8080;
    cursor: pointer;
}

.boton:focus, .eliminar:focus, .imagen, .imagen_marcada, .borrar-todo{
    outline: 0;
}

.alinear{
    display: inline-block;
}

.foco, .botones.foco:hover {
    border: 1px solid blue;
   
}

.linea{
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.texto{
    padding: 16px 16px 16px 10px;
    font-style: italic;
    width: 89%;
}

.marcar{
    font-size: 24px;
    color: #e6e6e6;
    padding: 16px 10px 16px 27px;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.imagen{
    content: url("http://www.clker.com/cliparts/x/b/r/I/i/K/radiobutton-unchecked-th.png");
    width: 23px;
    -webkit-appearance: none;
    margin:0;
}  

.imagen_marcada{
    content: url("http://www.clker.com/cliparts/M/2/V/6/F/u/radiobutton-checked-sm-th.png");
    width: 23px;
    -webkit-appearance: none;
    margin:0;
}

.eliminar{
    background-color: transparent;
    border: none;
    font-size: 24px;
    position: absolute;
    right: 5%;
    color: red;
}

.eliminar:hover{
    color: blue;
}

li {
     padding: 16px 80px 16px 22px;
     position: relative;
}

.borrar-todo{
    margin-left: 15%;
    display: none;
}

.borrar-todo:hover{
    text-decoration: underline;
}