body{
    background-color: #f5f5f5;
}

h1{
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 100px;
font-weight:100;
text-align: center;
margin-bottom: 0;
}

div, input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 200px;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

li {
     padding: 16px 80px 16px 22px;
     position: relative;
}

.color_titulo {
    color:rgba(175, 47, 47, 0.15);
}

.container{
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    position: relative;
}

.linea_renglon{
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.botones {
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 5px;
    outline-color: transparent;
    outline-width: 0;
}

.botones:hover {
    border: 1px solid #ff8080;
    cursor: pointer;
}

.botones.foco:hover,
.foco{
    border: 1px solid blue;
   
}

.boton_marcar{
    color: #e6e6e6;
    padding: 16px 10px 16px 27px;
}

.ingresar_datos{
    padding: 16px 16px 16px 10px;
    font-style: italic;
    width: 89%;
    cursor: text;
}

.ingresar_datos:hover{
    border: 1px solid transparent;
    cursor: text;
}

.boton_marcar:hover{
    border: 1px solid transparent;
}

.barra_inferior{
    display: none;
    padding: 5px 26px 5px 26px;
    position: relative;
}

.texto_barra_inferior{
    font-size: 12px;
}

.margen_botones{
    margin-left: 25%;
}

.boton_borrar_todo{
    position: absolute;
    right: 15%;
    bottom: 5px;
    display: none;
    border:0;
}

.boton_borrar_todo:hover{
    text-decoration: underline;
    border:0;
}

.boton_ayuda{
    position: absolute;
    right: 5%;
    bottom: 5px;
}

.pantalla_ayuda_ocultar{
    display: none;
}

.titulo_ayuda{
    text-align: center;
    margin-top: 20px;
    color:blue;
}

.contenido_ayuda{
    margin: 3% 25%;
}

.cerrar_ayuda{
    text-align: center;
}

.js_pantalla_ayuda{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f5f5f5;
    display: inline-block;
}  

.js_checkbox{
    content: url("http://www.clker.com/cliparts/x/b/r/I/i/K/radiobutton-unchecked-th.png");
    width: 23px;
    -webkit-appearance: none;
    margin:0;
    outline-width: 0;
}  

.js_checkbox_marcado{
    content: url("http://www.clker.com/cliparts/M/2/V/6/F/u/radiobutton-checked-sm-th.png");
    width: 23px;
    -webkit-appearance: none;
    margin:0;
    outline-width: 0;
}

.js_margen_items{
    padding-left: 20px;
}

.js_boton_renombrar{
    font-size: 18px;
    position: absolute;
    padding-top: 6px;
    right: 10%;
    color: red;
}

.js_boton_renombrar:hover{
    border: 1px solid transparent;
    color: blue;
} 

.js_boton_eliminar{
    font-size: 24px;
    position: absolute;
    right: 5%;
    color: red;
}

.js_boton_eliminar:hover{
    border: 1px solid transparent;
    color: blue;
}    

.js_alinear_items{
    display: inline-block;
}